::-webkit-scrollbar {
    display: none;
}

#app {
    max-width: 1700px;
    margin: 0 auto;
}

.resolution {
    cursor: pointer;
}

.link-icon {
    margin: auto;
    cursor: pointer;
    color: #6c757dff;
}

.link-icon:hover {
    color: #565e64;
}

.muted,
.muted:hover {
    color: var(--bs-gray-300);
}

.iframe-wrapper {
    --dot-color: #5b656a;
    --bg-color: #f8f9fa;
    background: linear-gradient(90deg, var(--bg-color) 21px, transparent 1%) center,
        linear-gradient(var(--bg-color) 21px, transparent 1%) center, var(--dot-color);
    background-size: 22px 22px;
}

iframe {
    background: var(--bs-light-rgb);
    /* transition: all 1s ease; */
}

#subject {
    height: 30px;
    width: 1550px;
    overflow-y: hidden;
}

.inner {
    width: fit-content;
    margin: 0 auto;
    transition: all 0.1s ease;
}

.spin {
    animation: spin 1s ease;
}

.spin .icon-tooltiptext {
    display: none;
}

@keyframes spin {
    from {
        transform: none;
    }

    to {
        transform: rotate(360deg);
    }
}

.controls-panel {
    backdrop-filter: blur(10px);
    opacity: 0.95;
}

html.darkTheme {
    filter: invert(1) hue-rotate(180deg) opacity(0.9);
}

html.darkTheme * {
    box-shadow: none !important;
}

html.darkTheme iframe {
    filter: invert(1) hue-rotate(180deg);
}

body.loading {
    pointer-events: none;
    max-height: 100vh;
    overflow: hidden;
    opacity: 0.5;
}

.form-switch {
    padding: 0.3em 0.5em 0.3em 3em;
    border-radius: 0.5em;
    user-select: none;
}

.form-switch:hover {
    background-color: #f2f4f5;
}

.form-select {
    cursor: pointer;
}

.form-select:hover {
    background-color: #f2f4f5 !important;
}
